# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=gacp
DB_USER=postgres
DB_PASS=admin
DB_PORT=5432

# Configurações JWT
JWT_SECRET=gacp-secret-key-2024-super-segura
JWT_EXPIRES_IN=24h

# Configurações do Servidor
PORT=3000
NODE_ENV=development
